body {
    background-color: #1d2a35;
}

h3 {
    color: #1F2667;
}

.bg-white {
    background-color: #ffffff;
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}
